@{
    ViewBag.Title = "Selamat Datang";
}


<div class="row-image" style="min-width:900px">           
    @*<img src="../Content/image/surabaya.jpg" style="width:100%"/>*@
    <ul class="cb-slideshow">
        <li><span></span></li>
        <li><span></span></li>
    </ul>                   
</div>

<div class="mediabox" style="background-color: gray; border: 1px solid #dddddd;min-width:900px">
    <img src="..\Content\image\contoh\logo-surabaya.png" style="width:10%;height:10%" />
    <h3><strong>@ViewBag.judulDeskripsiPortal</strong></h3>
    <p>@ViewBag.deskripsiPortal</p>
</div>  
          
<div class="row-page" style="background-color: #ffffff; min-height: 630px; min-width:900px">    
    <div>
        <h3 style="color:black;padding-bottom:10px; text-align:center"><strong>@ViewBag.judulTopWisata</strong></h3>
    </div>
    <div class="rotator">
        <ul id="rotmenu">
            @foreach (var data in @ViewBag.topWisata)
            {                   
                
                    <li>                     
                        <a href="rot1" style="font-size:14px">@data[0]</a>
                        <div style="display:none;">                        
                            <div class="info_image">@data[3]</div>                                                    
                            <div class="info_heading">@data[1]</div>
                            <div class="info_description">
                                @data[2]
                                <a href="@data[4]" class="more">Read more</a>
                            </div>                            
                        </div>
                    </li>                   
            }
        </ul>
        <div id="rot1">
            <img src="" width="1200" height="500" class="bg" alt="" />
            <div class="heading">
                <h1></h1>
            </div>
            <div class="description">
                <p></p>

            </div>
        </div>
    </div>
</div>

<div class="row-page" style="border: 1px solid #dddddd;min-width:900px">

    <h2>
        <strong>
            @ViewBag.judulKategori
        </strong>
    </h2>
    <div class="boxHeight-10">
        @foreach(var data in @ViewBag.kategori)
        {
            <div class="boxHeight-inner-1">
            <div class="boxSmall-1">
                <h4>
                    <strong>
                        @*@Html.ActionLink(data[0], "index", data[1])*@
                        <a href="@data[1]">@data[0]</a>                        
                    </strong>
                </h4>
            </div>
            <div class="boxSmall-2-1" style="margin-top:-9px">
                <a href="@data[3]">
                    <img src="@data[2]" style="width:100%; height:100%">
                </a>                
            </div>
        </div>
        }        
    </div>       
</div>

<script>
    $(function ()
    {
        var current = 1;

        var iterate = function ()
        {
            var i = parseInt(current + 1);
            var lis = $('#rotmenu').children('li').size();
            if (i > lis) i = 1;
            display($('#rotmenu li:nth-child(' + i + ')'));
        }

        display($('#rotmenu li:first'));

        var slidetime = setInterval(iterate, 3000);

        $('#rotmenu li').bind('click', function (e)
        {
            clearTimeout(slidetime);
            display($(this));
            e.preventDefault();
        });

        function display(elem) {
            var $this = elem;
            var repeat = false;
            if (current == parseInt($this.index() + 1))
                repeat = true;

            if (!repeat)
                $this.parent().find('li:nth-child(' + current + ') a').stop(true, true).animate({ 'marginRight': '-20px' }, 300, function () {
                    $(this).animate({ 'opacity': '0.7' }, 700);
                });

            current = parseInt($this.index() + 1);

            var elem = $('a', $this);

            elem.stop(true, true).animate({ 'marginRight': '0px', 'opacity': '1.0' }, 300);

            var info_elem = elem.next();
            $('#rot1 .heading').animate({ 'left': '-420px' }, 500, 'easeOutCirc', function () {
                $('h1', $(this)).html(info_elem.find('.info_heading').html());
                $(this).animate({ 'left': '0px' }, 400, 'easeInOutQuad');
            });

            $('#rot1 .description').animate({ 'bottom': '-270px' }, 500, 'easeOutCirc', function () {
                $('p', $(this)).html(info_elem.find('.info_description').html());
                $(this).animate({ 'bottom': '0px' }, 400, 'easeInOutQuad');
            })
            $('#rot1').prepend(
            $('<img/>', {
                style: 'opacity:0',
                className: 'bg'
            }).load(
            function () {
                $(this).animate({ 'opacity': '1' }, 600);
                $('#rot1 img:first').next().animate({ 'opacity': '0' }, 700, function () {
                    $(this).remove();
                });
            }
        ).attr('src', info_elem.find('.info_image').html()).attr('width', '1200').attr('height', '500')
        );
        }
    });
</script>

@*<script>
        $(document).ready(function () {
            $('.popovertop').popover({
                trigger: ' hover'
            });
        });
    </script>*@